<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.proj.api.utils.CROSUtils</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>doAuth</servlet-name>
        <servlet-class>com.proj.api.user.Servlet.doAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doAuth</servlet-name>
        <url-pattern>/api/user/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>doReg</servlet-name>
        <servlet-class>com.proj.api.user.Servlet.doReg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doReg</servlet-name>
        <url-pattern>/api/user/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>doModifyPwd</servlet-name>
        <servlet-class>com.proj.api.user.Servlet.doModifyPwd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doModifyPwd</servlet-name>
        <url-pattern>/api/user/modify_pwd</url-pattern>
    </servlet-mapping>

</web-app>